
/* universal style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic Page Styling */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
  color: #222;
  line-height: 1.6;
}

/* Header & Navigation */
header {
  background-color: #004aad;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: sticky;
  top: 0;
}

header h1 {
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

 nav a:hover {
    background-color: var(--secondary-color);
    color: #000;
}


/* Hero Section */
#hero {
  text-align: center;
  padding: 70px 20px;
  background: linear-gradient(135deg, #004aad, #0078ff);
  color: white;
}

/* About Section */
#about {
  text-align: center;
  padding: 60px 20px;
  background-color: white;
}

#about h2 {
  color: #004aad;
  margin-bottom: 15px;
}

/* Centered Circular Profile */
 img {
  display: block;
  margin: 0 auto 20px auto;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #0078ff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Projects Section */

#projects {
  background-color: #eef2f3;
  padding: 50px 20px;
}

#projects h2 {
  text-align: center;
  color: var(--primary-color--);
  margin-bottom: 20px;
}

#projects ul {
     list-style: none;
     max-width: 800px;
     margin: auto;
     
}

#projects article {
  background: white;
  margin: 20px auto;
  padding: 20px;
  max-width: 700px;
  border-left: 4px solid #0078ff;
  border-radius: 8px;
}
#projects article:hover{
     transform: scale(1.02);
}

/* Skills Section */
#skills {
  text-align: center;
  padding: 60px 20px;
  background-color: white;
}

#skills h2 {
  color: #004aad;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 70%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
  border: 1px solid #ccc;
  padding: 12px;
}

th {
  background-color: #004aad;
  color: white;
}

/* Contact Section */
#contact {
  background-color: #eef2f3;
  padding: 60px 20px;
  text-align: center;
}

#contact h2 {
  color: #004aad;
  margin-bottom: 15px;
}

form {
  background: #fff;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #0078ff;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #f4b400;
  color: #000;
}

/* Footer */
footer {
  background-color: #004aad;
  color: white;
  text-align: center;
  padding: 15px 0;
}

footer a {
  color: #f4b400;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}